html
  head
    title ethereum-candy-machine
    //- metadata
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //- styles
    link(rel="stylesheet", href="/styles/normalize.css")
    link(rel="stylesheet", href="/styles/index.css")
    //- assets
    link(rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png")
    link(rel="manifest" href="/assets/site.webmanifest")
    //- scripts
    script(src="/scripts/index.js" type="module") 
  body
    div.container
      div.title-flex
        div
          h1 Candy machine 🍭
          h2 Smart contract, written with Solidity
        div.flex-col.align-items-end
          a(href="/redeploy")
            button Redeploy
          span #{(payment / 1e19).toFixed(2)} PM
      main.main-grid
        each url in list
          img.items(src=url)
        div.detail
          div.title ADDRESS
          div= address
          div.title PRICE
          div= price / 1e19
          div.title AVAILABLE
          div= available
          div.title REDEEMED
          div= redeemed
          div.title REMAINING
          div= available - redeemed
          a(href="/mint")
            button#mint.disabled Mint
        div.minted-collection
          each url in minted
            img.minted(src=url)
